body {
    font-family:"Roboto", Arial, sans-serif;
    margin:0 auto;
    text-align:center;
    margin-top:50px;
    color:#FFF;
    text-shadow:-1px -1px #333;
    background-image: url(xo1.gif);
    background-repeat:no-repeat;
    background-size: cover;
    h1 {
      font-weight:bold;
      font-size: 50px;
      font-style: italic;
      color: #f1f121;
    }
    .logo { text-align : left;
  }
    .turn {
      margin-bottom:30px;
    }
    table {
      border-collapse:collapse;
      width:400px;
      height:300px;
      margin:0 auto;
      td {
        width:60px;
        height:60px;
        border:5px solid black;
        cursor:pointer;
        text-align: center;
        &:before {
          font-size:50px;
          line-height:1;
        }
        &.cross:before {
          content:"x";
          color:whitesmoke;
          font-size: 50px;
          font-weight: bold;
          font-style: italic;
        }
        &.circle:before {
          content:"o";
          color:black;
          font-size: 50px;
          font-weight: bold;
          font-style: italic;
        }
      }
    }
    .reset {
      background:rgb(85, 16, 28);
      border:1px solid #333;
      padding:5px 10px;
      color:#FFF;
      cursor:pointer;
      font-family:"Roboto", Arial, sans-serif;
      text-transform:uppercase;
      &:hover {
        opacity:0.8;
      }
    }
  }